.Shared-Cards-GeneriCard {
    -webkit-box-shadow: 9px 10px 21px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 9px 10px 21px 1px rgba(0,0,0,0.15);
    box-shadow: 9px 10px 21px 1px rgba(0,0,0,0.15);
    border-radius: 5px;
}
